@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

.form {
  width: 30%;
  margin: 50px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(../../assets/background/pokemon-text-box.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.form * {
  margin: 5px;
  min-height: 30px;
}

.container {
    background-color: #ffffff;
    width: 200px;
    height:280px;
    margin: 20px auto;
    transition-duration: 0.4s;
    text-align: center;
	  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
	  border-radius: 20px;
  }

  .baraja {
    display: flex;
	  flex-direction: row;
	  justify-content:auto;
	  align-items:auto;
    flex-wrap: wrap;
  }

  .control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top:7px;
  }

  .error-msg {
    border: 1px solid red;
    background-color: rgb(248, 211, 211);
  }

  .container h3{
   color: #000000;
   font-size:18px;
   font-family: "Press Start 2P", cursive;
  }
  
  .container:hover{
    background-color: #e7e3e373;
    transform: scale(1.1);
    margin: 10px auto;
    box-shadow: 1px 1px 10px 1px 

  }

  .container img{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .button {
    background-color: lightcoral;
    border-radius:20px;
    
}

.button2 {
  background-color: #FFDE00;
  border-radius: 5px;
  margin-left: 15px;
}