@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

.button {
    background-color: #ff0000;
    border-radius: 10px;
    margin: 25px;
    font-family: "Press Start 2P", cursive;
    font-size: 11px;
}

.pokemon-details {
    display: flex;
    width: 95%;
    flex-direction: column;
    margin: 0 auto;
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
}

.pokemon-details div {
    display: flex; 
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
}